<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>功能介绍 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<div id="wrap-all">
    <div id="main" class="inner">

        <div class="tour-warp">
            <div class="tour-banner">
                <div class="tour-banner-inner">
                    <h3>CRM是一款出色的团队协同工具</h3>
                    <ul class="tour-feature">
                        <li><img src="/Public/qiguweb/images/tour_1.png" alt="项目管理"/><br/>
                            <h4>客户管理</h4>
                            以客户为单元管理一切事务<br>
                            让复杂无序的事务变得简单清晰
                        </li>
                        <li><img src="/Public/qiguweb/images/tour_2.png" alt="完美协同"/><br/>
                            <h4>完美协同</h4>
                            跟踪管理、在线讨论、客户共享、在线<br>
                            文档、日历互相配合，达到完美协同
                        </li>
                        <li><img src="/Public/qiguweb/images/tour_3.png" alt="实时通知"/><br/>
                            <h4>实时刷新</h4>
                            无须刷新页面，所有消息和更新<br>
                            即时达到，时时提醒及时跟踪
                        </li>
                        <li><img src="/Public/qiguweb/images/tour_4.png" alt="极致体验"/><br/>
                            <h4>极致体验</h4>
                            拖拽操作，简单又方便；配合键盘<br>
                            快捷键，给你超酷的操作体验
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tour-body">
                <div class="tour-inner">
                    <h3 class="tour-main-title">以客户为单元组织一切事务</h3>
                    <div class="tour-main"></div>
                    <ul class="tour-main-list">
                        <li class="mr_115">
                            <img src="/Public/qiguweb/images/tour-main-task.png" alt="任务管理"/>
                            <h4>客户管理</h4>
                            <p>列表、标签、时间、跟踪激励，团队不同维度管理客户，跟进状态，让工作井井有条</p>
                        </li>
                        <li class="mr_115">
                            <img src="/Public/qiguweb/images/tour-main-calendar.png" alt="日历视图"/>
                            <h4>快速查询</h4>
                            <p>通过客户快速查询功能，只需输入简短客户相关信息，秒开客户所有跟踪情况，一目了然</p>
                        </li>
                        <li>
                            <img src="/Public/qiguweb/images/tour-main-file.png" alt="文件共享"/>
                            <h4>人性化界面</h4>
                            <p>系统内置6套界面自由选择，导航随意左右切换位置并可自由折叠展开，数据展示项可自由选择</p>
                        </li>
                        <li class="mr_115">
                            <img src="/Public/qiguweb/images/tour-main-post.png" alt="在线讨论"/>
                            <h4>在线讨论</h4>
                            <p>成员可随时随地参与讨论，及时的了解并记录客户的种种状态，沟通畅通无阻，不再需要冗长繁杂的会议</p>
                        </li>
                        <li class="mr_115">
                            <img src="/Public/qiguweb/images/tour-main-page.png" alt="在线文档"/>
                            <h4>消息提醒</h4>
                            <p>及时的消息提醒功能，让任何与你相关的客户属性发生变化，实时的无刷新传送的您的面前</p>
                        </li>
                        <li>
                            <img src="/Public/qiguweb/images/tour-main-graph.png" alt="项目简报"/>
                            <h4>项目简报</h4>
                            <p>简单直观的图形化项目简报，让你对客户的来源渠道、跟踪管理、业绩进展了如指掌，数据对比清晰可见</p>
                        </li>
                    </ul>
                </div>
                <div class="tour-task">
                    <h3>客户管理</h3>
                    <div class="tour-task-main">
                    </div>
                    <ul class="tour-task-list">
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-label.png"/>
                            <h4>OA协同</h4><p>OA协同可帮助企业及时将近期公司的重要活动及时通知到各个员工。</p>
                        </li>
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-checkable.png"/>
                            <h4>数据统计</h4><p>使用快速数据统计或数据筛选功能，快速查询各种状态的客户。</p>
                        </li>
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-assign.png"/>
                            <h4>在线记录</h4><p>每个客户的跟踪状态一一记录，客户资源共享，一目了然。</p>
                        </li>
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-watch.png"/>
                            <h4>数据折叠</h4><p>横向可任意勾选和隐藏客户信息项，纵向并可按照任意字段排序，将人性化做到极致。</p>
                        </li>
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-deadline.png"/>
                            <h4>截止时间</h4><p>为任务设置截止时间，不再错过任何一个deadline，设置了截止时间的任务可以在日历视图中直观的显示。</p>
                        </li>
                        <li><img class="task-icon" src="/Public/qiguweb/images/task-icon-archive.png"/>
                            <h4>消息提醒</h4><p>不具体执行任务并不代表你不关心某个任务，当有任何重要更新时，关注者将收到消息。</p>
                        </li>
                    </ul>
                </div>
                <div class="tour-6key">
                    <h3><span>简单、好用、安全、开放</span></h3>
                    <ul>
                        <li><img src="/Public/qiguweb/images/tour-6key-clearmove.png"/>
                            <h4>简单的操作</h4>
                            <p>极其的简单的拖拽操作，给你无与伦比的操作体验</p>
                        </li>
                        <li><img src="/Public/qiguweb/images/tour-6key-shoutcutkey.png"/>
                            <h4>强大的快捷键</h4>
                            <p>支持强大的键盘快捷键操作，极大的提高你的工作效率</p>
                        </li>
                        <li><img src="/Public/qiguweb/images/tour-6key-alert.png"/>
                            <h4>方便快捷通知</h4>
                            <p>即时方便的通知，通过邮件、桌面通知，多种方式任你选择</p>
                        </li>
                        <li><img src="/Public/qiguweb/images/tour-6key-realtime.png"/>
                            <h4>页面实时更新</h4>
                            <p>所有的数据更新，无须刷新页面即可实时更新</p>
                        </li>
                        <li><img src="/Public/qiguweb/images/tour-6key-protection.png"/>
                            <h4>保护数据安全</h4>
                            <p>完善的安全策略，最大程度上保证您的数据安全</p>
                        </li>
                        <li><img src="/Public/qiguweb/images/tour-6key-export.png"/>
                            <h4>数据导出</h4>
                            <p>支持多种方式的数据导出，让你的数据可以随时导出</p>
                        </li>
                    </ul>
                </div>
                <div class="tour-apply">
                    <h3>现在注册，与你的团队随时随地一起工作</h3>
                    <div class="tour-apply-action">
                        <a class="btn btn-success btn-lg" href="{:U('Club/register')}" target="_blank">
                            申请试用
                        </a>
                        <a class="tour-apply-knowmore" href="{:U('Index/plan')}">了解付费方案 <i class="icon icon-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
</body>
</html>