<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 系统配置 > 添加客户状态</div>
        <div class="content">
            <p><strong>添加客户状态：</strong>①管理员可在右侧勾选未添加的状态，点击“确认添加”按钮即可，添加成功的统一展现在左侧（左侧已经成功添加的在右侧呈现灰色锁定状态，避免重复添加），如果不需要也可进行删除操作。<br>②客户状态由系统统一设定，管理员只能进行选择使用，不允许自由添加、修改和删除操作，如果想添加自己特有的客户状态，请与我们取得联系，或到<span class="red">“用户社区”</span>栏目进行需求反馈，有我们统一进行添加即可。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/addstate-1.jpg" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>