<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 开始使用CRM > 数据安全</div>
        <div class="content">
            <p>对于在线租用的模式，您或许会有这样那样的担心。比如，我的数据放在你们的服务器上安全吗？会不会被竞争对手或黑客窃取？会不会意外丢失？你们或你们的员工会不会盗取我的数据用于商业目的？</p>
            <p>很多企业采取传统模式，也会面临服务器崩溃、数据丢失、遭黑客窃取、IT人员离职等风险。现在，所有的风险都由我们来扛，您只需专注于业务开展。</p>
            <p>面对以上风险，我们考虑更多、更有准备，成熟的技术在保质保量完成项目研发的同时，还能够充分保证数据的安全性，防止被黑客、病毒等侵入，损害公司利益！银行级的数据安全策略让您的数据更稳定、更安全、更放心。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/security-1.jpg" alt="数据安全" /></p>
            <h4>保护帐户安全</h4>
            <p><strong>1、定期重设密码：</strong>定期重设您在家装CRM的密码，选择字母、数字或符号的组合，创建与个人信息无关的独特密码，并建议您不同的帐户使用不同的密码。</p>
            <p><strong>2、开启两步验证：</strong>您可以通过启用两步验证，将您的家装CRM帐号和移动设备绑定，为您的帐户增加一道安全防线，即便攻击者猜到了您的帐号密码，由于没有您的移动设备，仍然无法登录。</p>
            <p><strong>3、安全验证模式：</strong>为了更好保护您的帐户和数据安全，家装CRM从Unix系统中sudo命令中获得灵感，对于某些重要的操作需要您输入帐户密码才可以继续进行，如批量删除、删除部门等。</p>
            <p><strong>4、查看登录日志：</strong>家装CRM提供了完善的帐号登录日志，如果发现你的帐号异常，系统会发送短信或提醒邮件给您，您也可以定期查看登录日志，以发现可疑活动。 </p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>