<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 用户中心 > 部门管理</div>
        <div class="content">
            <p><strong>部门管理：</strong>只有管理员才拥有部门管理的权限，可进行创建、修改、删除、禁用、配置权限、成员授权
            <br><strong>禁用：</strong>部门禁用以后，本部门所有员工都不能登录CRM系统。
            <br><strong>配置权限：</strong>对部门进行权限配置后，本部门的全部员工都会继承部门的权限。
            <br><strong>成员授权：</strong>通过成员授权功能可以将添加的员工分配到各个部门中，通过解除授权可以将员工踢出本部门。
            </p>
            <p class="center"><img src="/Public/qiguweb/images/help/group-1.jpg" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>