<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 客户管理 > 快捷管理</div>
        <div class="content">
            <p><strong>快捷管理：</strong>根据“客户状态”进行快速筛选客户，对于业务员回访工作会有很大的帮助，无需再“大海捞针”似的寻找客户，一键操作，直观明了，提升工作效率。快捷管理包括：
            <br><strong>① 跟踪中A客户：</strong>需要近期回访，客户跟踪价值高。
            <br><strong>② 跟踪中B客户：</strong>需要近期回访，客户跟踪价值较高。
            <br><strong>③ 跟踪中	C客户：</strong>不需要近期回访，客户跟踪价值不高。
            <br><strong>④ 已到店客户：</strong>所有已到店的客户。
            <br><strong>⑤ 已定金客户：</strong>所有已定金的客户。
            <br><strong>⑥ 已合同客户：</strong>所有已合同的客户。
            <br><strong>⑦ 无效单客户：</strong>已经没有跟踪价值的客户，此类客户不在“我的客户”中显示。
            <br><strong>⑧ 已退款客户：</strong>已定金或已合同后，退款的客户，此类客户不在“我的客户”中显示。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/quicklink-1.jpg" alt="快捷管理" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>