    <div class="leftnav">
        <h4 class="nav1">开始使用CRM</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav1">
            <li class="help_overview"><a <eq name="ACTION_NAME" value="help_overview">class='red'</eq> href="{:U('Index/help_overview')}">认识CRM</a></li>
            <li class="help_login"><a <eq name="ACTION_NAME" value="help_login">class='red'</eq> href="{:U('Index/help_login')}">登录/注册</a></li>
            <li class="help_dashboard"><a <eq name="ACTION_NAME" value="help_dashboard">class='red'</eq> href="{:U('Index/help_dashboard')}">首页界面</a></li>
            <li class="help_permission"><a <eq name="ACTION_NAME" value="help_permission">class='red'</eq> href="{:U('Index/help_permission')}">权限设置</a></li>
            <li class="help_message"><a <eq name="ACTION_NAME" value="help_message">class='red'</eq> href="{:U('Index/help_message')}">消息提醒</a></li>
            <li class="help_security"><a <eq name="ACTION_NAME" value="help_security">class='red'</eq> href="{:U('Index/help_security')}">数据安全</a></li>
            <li class="help_version"><a <eq name="ACTION_NAME" value="help_version">class='red'</eq> href="{:U('Index/help_version')}">版本更新</a></li>
        </ul>
        <h4 class="nav2">客户管理</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav2">
            <li class="help_mycustomer"><a <eq name="ACTION_NAME" value="help_mycustomer">class='red'</eq> href="{:U('Index/help_mycustomer')}">我的客户</a></li>
            <li class="help_addcustomer"><a <eq name="ACTION_NAME" value="help_addcustomer">class='red'</eq> href="{:U('Index/help_addcustomer')}">添加客户</a></li>
            <li class="help_recycle"><a <eq name="ACTION_NAME" value="help_recycle">class='red'</eq> href="{:U('Index/help_recycle')}">回收站</a></li>
            <li class="help_quicklink last"><a <eq name="ACTION_NAME" value="help_quicklink">class='red'</eq> href="{:U('Index/help_quicklink')}">快捷管理</a></li>
        </ul>
        <h4 class="nav3">工程管理</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav3">
            <li class="help_project"><a <eq name="ACTION_NAME" value="help_project">class='red'</eq> href="{:U('Index/help_project')}">已开工程客户</a></li>
            <li class="help_platform"><a <eq name="ACTION_NAME" value="help_platform">class='red'</eq> href="{:U('Index/help_platform')}">开通客户平台</a></li>
            <li class="help_process"><a <eq name="ACTION_NAME" value="help_process">class='red'</eq> href="{:U('Index/help_process')}">施工进度管理</a></li>
            <li class="help_clogin"><a <eq name="ACTION_NAME" value="help_clogin">class='red'</eq> href="{:U('Index/help_clogin')}">业主登录入口</a></li>
            <li class="help_cdashboard last"><a <eq name="ACTION_NAME" value="help_cdashboard">class='red'</eq> href="{:U('Index/help_cdashboard')}">业主平台介绍</a></li>
        </ul>
        <h4 class="nav4">数据统计</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav4">
            <li class="help_order"><a <eq name="ACTION_NAME" value="help_order">class='red'</eq> href="{:U('Index/help_order')}">本月已定金客户</a></li>
            <li class="help_hetong"><a <eq name="ACTION_NAME" value="help_hetong">class='red'</eq> href="{:U('Index/help_hetong')}">本月已合同客户</a></li>
            <li class="help_allsearch last"><a <eq name="ACTION_NAME" value="help_allsearch">class='red'</eq> href="{:U('Index/help_allsearch')}">综合查询</a></li>
        </ul>
        <h4 class="nav5">用户中心</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav5">
            <li class="help_touxiang"><a <eq name="ACTION_NAME" value="help_touxiang">class='red'</eq> href="{:U('Index/help_touxiang')}">上传头像</a></li>
            <li class="help_group"><a <eq name="ACTION_NAME" value="help_group">class='red'</eq> href="{:U('Index/help_group')}">部门管理</a></li>
            <li class="help_user"><a <eq name="ACTION_NAME" value="help_user">class='red'</eq> href="{:U('Index/help_user')}">员工管理</a></li>
            <li class="help_addgroup"><a <eq name="ACTION_NAME" value="help_addgroup">class='red'</eq> href="{:U('Index/help_addgroup')}">添加部门</a></li>
            <li class="help_adduser last"><a <eq name="ACTION_NAME" value="help_adduser">class='red'</eq> href="{:U('Index/help_adduser')}">添加员工</a></li>
        </ul>
        <h4 class="nav6">系统配置</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav6">
            <li class="help_addstate"><a <eq name="ACTION_NAME" value="help_addstate">class='red'</eq> href="{:U('Index/help_addstate')}">添加客户状态</a></li>
            <li class="help_addchannel"><a <eq name="ACTION_NAME" value="help_addchannel">class='red'</eq> href="{:U('Index/help_addchannel')}">添加客户来源</a></li>
            <li class="help_addway"><a <eq name="ACTION_NAME" value="help_addway">class='red'</eq> href="{:U('Index/help_addway')}">添加装修方式</a></li>
            <li class="help_addprocess last"><a <eq name="ACTION_NAME" value="help_addprocess">class='red'</eq> href="{:U('Index/help_addprocess')}">添加施工工序</a></li>
        </ul>
        <h4 class="nav7">付费方案</h4>
        <i class="icon-caret-down"></i>
        <ul class="nav7">
            <li class="help_pay last"><a <eq name="ACTION_NAME" value="help_pay">class='red'</eq> href="{:U('Index/help_pay')}">付费方案</a></li>
        </ul>
    </div>
<script type="text/javascript">
$(function(){
    var url = window.location.href;
    var url = url.split('/');
    var str = url['5'].substring(0,url['5'].length-5);
    $("li."+str).parent('ul').css('display','block').siblings('ul').css('display','none');
    $(".leftnav h4").click(function () {
        var index = $(this).attr('class');
        $(".leftnav ul").hide(200);
        $("ul."+index).show(200);
    });
});
</script>
<style type="text/css">
.red{color:red;}
ul.nav2,ul.nav3,ul.nav4,ul.nav5,ul.nav6,ul.nav7{display: none;}
</style>