<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 系统配置 > 添加施工工序</div>
        <div class="content">
            <p><strong>添加施工工序：</strong>管理员可在右侧添加施工工序，添加成功后统一展示在左侧，管理员可进行修改、删除、排序等操作。
            <br>【提示】添加施工工序时，请先创建一级分类（施工流程），再创建二级分类（具体施工细节），即如下图所示：</p>
            <p class="center"><img src="/Public/qiguweb/images/help/addprocess-1.jpg" /></p>
            <p><strong>温馨提示：家装流程大体可以分为以下阶段，以供参考：</strong><br>1.前期设计 -- 2.主体拆改 -- 3.水电改造 -- 4.木工 -- 5.贴砖 -- 6.刷墙面漆 -- 7.厨卫吊顶 -- 8.橱柜安装 -- 9.木门安装 -- 10.地板安装 -- 11.铺贴壁纸 -- 12.散热器安装 -- 13.开关插座安装 -- 14.灯具安装 -- 15.五金洁具安装 -- 16.窗帘杆安装 -- 17.拓荒保洁 -- 18.家具进场 -- 19.家电安装 -- 20.家居配饰搭配</p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>