<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 开始使用 > 版本更新</div>
        <div class="content">
            <p class="tags">Tags： <a href="#1">Version 1.0</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#2">Version 2.0</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#3">Version 3.0</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#4">Version 4.0</a></p>
            <h4>Version 4.4 - 2015年2月10日</h4>
            <p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增“交房时间”字段</p>
                <p class="pl_48"><strong>· 新增：</strong>全部字段排序功能</p>
                <p class="pl_48"><strong>· 新增：</strong>全部字段筛选功能</p>
                <p class="pl_48"><strong>· 改进：</strong>客户信息展示相关页面-信息展示不全面</p>
                <p class="pl_48"><strong>· 改进：</strong>重新定义导出客户信Excel表命名格式，并增加导出字段</p>
                <p class="pl_48"><strong>· 重大改进：</strong>我的客户支持自定义显示状态客户功能</p>
                <p class="pl_48"><strong>· 修复：</strong>筛选后排序失效的问题</p>
            <p class="pl_20"><strong>· 系统配置：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>公司信息更改功能</p>
                <p class="pl_48"><strong>· 修复：</strong>删除管理员后，公司注册信息不能删除bug</p>

            <h4>Version 4.3 - 2014年1月30日</h4>
            <p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增制图组、材料组部门类型及其相关联功能</p>
                <p class="pl_48"><strong>· 重大改进：</strong>将“本周需回访客户”改为“最近7天需回访客户”，优化提醒功能</p>
            <p class="pl_20"><strong>· 工程管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增“施工阶段客户”快捷功能</p>
                <p class="pl_48"><strong>· 新增：</strong>新增“保修阶段客户”快捷功能</p>
            <p class="pl_20"><strong>· 技术：</strong></p>
                <p class="pl_48"><strong>· 修复：</strong>修复了注册以及添加客户信息添加手机新号段185正则表达式BUG</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了筛选排序后分页BUG</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了Ajax“快速编辑”提交数据不过滤空格BUG</p>

            <h4>Version 4.2 - 2014年1月20日</h4>
            <p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增按客户信息字段排序功能</p>
                <p class="pl_48"><strong>· 新增：</strong>新增状态和时间自动关联功能，例如：填写“定金时间”，状态自动变为“已定金”，状态改为“已定金”，自动填写“定金时间”</p>
                <p class="pl_48"><strong>· 重大改进：</strong>客户信息支持“快速编辑”Ajax实时生效功能</p>
            <p class="pl_20"><strong>· 工程管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增业主对施工过程进行评分功能,互动功能</p>
                <p class="pl_48"><strong>· 新增：</strong>新增公司资料信息管理，并在相关处展示公司信息</p>
            <p class="pl_20"><strong>· 用户中心：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>新增个人可以修改密码 </p>
            <p class="pl_20"><strong>· 技术：</strong></p>
                <p class="pl_48"><strong>· 修复：</strong>修复了若干前端和程序上的BUG</p>

            <h4>Version 4.1 - 2014年1月16日</h4>
            <p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>我的客户-导出Excel表功能</p>
                <p class="pl_48"><strong>· 改进：</strong>我的客户-选择列/隐藏列功能</p>
            <p class="pl_20"><strong>· 工程管理：</strong></p>
                <p class="pl_48"><strong>· 重大改进：</strong>新增若干工程管理字段（回访提醒、工长、合同编号、开工日期、竣工日期等）</p>
                <p class="pl_48"><strong>· 重大改进：</strong>将工程管理模块相关功能进行重新梳理、架构和重写</p>
                <p class="pl_48"><strong>· 重大改进：</strong>将施工详情由按时间排序改为按施工流程排序</p>
                <p class="pl_48"><strong>· 重大改进：</strong>将施工工序改为一级、二级栏目均可选</p>
                <p class="pl_48"><strong>· 改进：</strong>改进了和施工工序相关页面的排序问题</p>
                <p class="pl_48"><strong>· 改进：</strong>改进了客户列表页显示字段，并增加“选择列/隐藏列”功能</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了“开通客户管理平台”跳转错误的BUG</p>
            <p class="pl_20"><strong>· 数据统计：</strong></p>
                <p class="pl_48"><strong>· 改进：</strong>数据统计功能</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了一些CSS样式问题</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了一些简单的BUG</p>
            <p class="pl_20"><strong>· 用户中心：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>员工部门筛选功能，简化操作</p>
                <p class="pl_48"><strong>· 改进：</strong>简化了员工授权流程</p>
                <p class="pl_48"><strong>· 改进：</strong>优化了邀请员工注册的功能</p>
            <p class="pl_20"><strong>· 系统配置：</strong></p>
                <p class="pl_48"><strong>· 重大改进：</strong>增加了系统配置内所有模块的自由排序功能</p>

            <h4>Version 4.0 - 2014年12月20日</h4>
            <p class="pl_20"><strong>· 模块：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>工程管理模块</p>
                <p class="pl_48"><strong>· 新增：</strong>系统配置模块</p>
                <p class="pl_48"><strong>· 新增：</strong>用户社区模块</p>
                <p class="pl_48"><strong>· 新增：</strong>使用帮助模块</p>
            <p class="pl_20"><strong>· 功能：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>员工管理功能（添加、启用/禁用、授权、分配）</p>
                <p class="pl_48"><strong>· 新增：</strong>权限控制功能</p>
                <p class="pl_48"><strong>· 新增：</strong>部门管理功能（添加、启用/禁用、权限配置、成员授权）</p>
                <p class="pl_48"><strong>· 新增：</strong>邀请注册功能</p>
                <p class="pl_48"><strong>· 新增：</strong>选择客户状态功能</p>
                <p class="pl_48"><strong>· 新增：</strong>添加客户来源功能</p>
                <p class="pl_48"><strong>· 新增：</strong>添加装修方式功能</p>
                <p class="pl_48"><strong>· 新增：</strong>添加开通客户管理平台功能</p>
                <p class="pl_48"><strong>· 新增：</strong>业主登录平台功能</p>
                <p class="pl_48"><strong>· 新增：</strong>添加施工工序功能</p>
                <p class="pl_48"><strong>· 新增：</strong>添加施工详情功能</p>
                <p class="pl_48"><strong>· 新增：</strong>新增信息录入时JS验证功能</p>
                <p class="pl_48"><strong>· 改进：</strong>将所有必填信息全部用红色 <span class="red">*</span> 标注</p>
            <p class="pl_20"><strong>· 技术：</strong></p>
                <p class="pl_48"><strong>· 重大改进：</strong>进行了系统程序和数据库重构，以及程序优化</p>
                <p class="pl_48"><strong>· 重大改进：</strong>基于云平台的大数据开发，由单用户变为多用户</p>
                <p class="pl_48"><strong>· 更新：</strong>最新的bootstrap3.0.x前端UI</p>
                <p class="pl_48"><strong>· 更新：</strong>最新的fontawesome3.0.x字体支持</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了系统前端UI若干BUG</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了系统若干琐碎的缺陷</p>

            <div class="border-top mt_40"></div>
            <h4>Version 3.0 - 2014年11月20日</h4>
            <p class="pl_20"><strong>· 技术：</strong></p>
                <p class="pl_48"><strong>· 重大改进：</strong>进行了系统程序和数据库重构，以及程序优化</p>
                <p class="pl_48"><strong>· 重大改进：</strong>基于云平台的大数据开发，由单用户变为多用户</p>
                <p class="pl_48"><strong>· 更新：</strong>最新的bootstrap3.0前端UI</p>
                <p class="pl_48"><strong>· 更新：</strong>最新的fontawesome3.0字体支持</p>
                <p class="pl_48"><strong>· 更新：</strong>最新的metronic模版3.3.1支持</p>

            <div class="border-top mt_40"></div>
            <h4>Version 2.2 - 2014年7月20日</h4>
            <p class="pl_20"><strong>· 用户中心：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>更改用户密码功能：仅管理员可以更改</p>
                <p class="pl_48"><strong>· 新增：</strong>员工可以调换部门功能</p>
                <p class="pl_48"><strong>· 新增：</strong>用户分组显示：用户按照所在分组显示</p>
                <p class="pl_48"><strong>· 新增：</strong>新增使用颜色标记客户功能</p>
                <p class="pl_48"><strong>· 修复：</strong>修复了系统一些琐碎的BUG</p>

            <h4>Version 2.1 - 2014年7月1日</h4>
            <p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48">·<strong> 新增：</strong>回收站功能。被删除的客户信息可以“撤销删除”，再恢复到“我的客户”中</p>
                <p class="pl_48"><strong>· 新增：</strong>客户数据导出Excel表功能</p>
                <p class="pl_48"><strong>· 新增：</strong>消息提示功能。随时提醒，让工作更简单！</p>
                <p class="pl_48"><strong>· 修复：</strong>搜索分页功能-修正了搜索之后不能分页的BUG</p>
                <p class="pl_48"><strong>· 重大改进：</strong>客户信息自定义视图功能。可根据自己的需求，选择性显示或隐藏客户信息，提升用户体验</p>

            <h4>Version 2.0 - 2014年6月20日</h4>
            <p class="pl_20"><strong>· 界面主题：</strong></p>
                <p class="pl_48"><strong>· 重大改进：</strong>采用响应式布局和Ajax无缝刷新技术，提升用户体验</p>
                <p class="pl_48"><strong>· 重大改进：</strong>采用当下最流行的bootstrap前端UI开发框架，无视屏幕大小，无论手机，平板，笔记本和台式机，想怎么看就怎么看</p>
                <p class="pl_48"><strong>· 重大改进：</strong>左侧导航可随意折叠/展开，扩大视觉空间</p>
                <p class="pl_48"><strong>· 重大改进：</strong>提供5种界面主题颜色，消除视觉疲劳，想换就换</p>
                <p class="pl_48"><strong>· 重大改进：</strong>头部、底部、导航栏定位功能，多样化，可定制</p>
                <p class="pl_48"><strong>· 重大改进：</strong>新增CRM系统首页，以数据和图标的形式直观展示公司业绩情况，一目了然</p>
            <p class="pl_20"><strong>· 功能：</strong></p>
                <p class="pl_48">· 新增：公司总到店、签单、合同人数以及签单率数据统计功能</p>
                <p class="pl_48">· 新增：发布公司公告功能</p>
                <p class="pl_48">· 新增：设计师本月签单排行榜功能</p>
                <p class="pl_48">· 新增：公司业绩走势图功能，对公司全年业绩以及同期相比，直观明了</p>
                <p class="pl_48">· 新增：客户来源渠道饼状图，展示各个渠道的比例</p>
            <div class="border-top mt_40"></div>

            <h4>Version 1.1 - 2014年3月1日</h4>
            <p class="pl_20"><strong>· 左侧导航：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>用户中心模块</p>
                <p class="pl_48"><strong>· 新增：</strong>数据统计模块</p>
            <p class="pl_20"><strong>· 功能：</strong></p>
                <p class="pl_48"><strong>· 新增：</strong>上传个性化头像功能</p>
                <p class="pl_48"><strong>· 新增：</strong>数据统计功能</p>

            <h4>Version 1.0 - 2013年12月20日</h4>
			<p class="pl_20"><strong>· 界面主题：</strong></p>
                <p class="pl_48"><strong>· 界面主题：</strong>浅绿色界面</p>
			<p class="pl_20"><strong>· 客户管理：</strong></p>
                <p class="pl_48"><strong>· 我的客户：</strong>列出我的所有客户信息</p>
                <p class="pl_48"><strong>· 状态客户：</strong>列出特定状态(例如：跟踪A、跟踪B、已到店、已签单等)客户信息，便于快速查找客户</p>
                <p class="pl_48"><strong>· 添加客户：</strong>填写客户信息，提交表单即可</p>
                <p class="pl_48"><strong>· 更新客户：</strong>更新客户相关信息</p>
                <p class="pl_48"><strong>· 删除客户：</strong>删除客户信息</p>
                <p class="pl_48"><strong>· 跟踪记录：</strong>实时记录客户的跟踪情况，无缝沟通，对客户情况一目了然</p>
                <p class="pl_48"><strong>· 搜索客户：</strong>根据已知信息搜索出目标客户，便于快速检索</p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>