<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>关于我们 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<div id="wrap-all">
    <div id="main" class="inner">
        <div class="about-wrap">
            <div class="about-banner">
                <div class="about-banner-inner">
                    <h3>关于我们</h3>
                    <p>使命: 让工作更简单</p>
                </div>
            </div>
            <div class="about-body">
                <div class="about-mission">
                    <h4>公司简介</h4>
                    <p>以用户需求为第一出发点，以创新为第一生产力，一站式行业解决方案！</p>
                    <div class="info">　　青岛奇古兄弟网络科技有限公司是一家专注于装修行业SaaS软件开发服务的创新型企业，公司致力于为装修行业提供基于云端的CRM、SaaS软件开发、网站建设、大数据平台以及行业一体化解决方案，旗下拥有基于云平台的家装CRM系统（www.zxicrm.com）、装修联盟社区（www.zhuangxiuo.com）、企业一体化解决方案（www.qigubrother.com）三大行业平台，旨在提高装修行业的信息化服务水平，打造高效的装修行业信息化服务生态系统。<br><br>
　　针对装修行业信息化程度低、人均效能低下以及上下游产业链丰富的现状，我们将通过一系列的高效能Saas服务、云端服务、大数据平台、O2O行业部署，倾力打造装修行业信息化、智能化的云节点服务型生态系统。<br><br>
　　奇古：本意奇特、古怪、独树一帜、与众不同；寓意为：创新。创新是企业生存的根本，更是不断向前的生产力。<br>
　　兄弟：兄弟齐心，其利断金，即代表着工作中公司倡导团队协作，也代表着大家在日常生活中要像兄弟姐妹一样互帮互助、同进同退的公司文化，公司全员实施合伙人制度，为员工建立合理的晋升通道，最终实现全员持股。<br><br>
　　奇古兄弟：以用户需求为第一出发点，以创新为第一生产力，以团队协作作为第一执行力，以装修行业为第一根据地，在这片土地上辛勤耕耘，我们相信一路走来，成功离我们只有一步之遥。</div>
                    <h4>我们的理念</h4>
                    <p>打造一款伟大的客户管理协同工具，用工具改变团队工作的方式，提升团队效率。</p>
                    <ol>
                        <li><span>1</span>参与感：和用户做朋友，共同参与，共同成长</li>
                        <li><span>2</span>极致：专心致志将一件事做到极致</li>
                        <li><span>3</span>大道至简：让复杂的工作简单化，让简单的工作流程化</li>
                    </ol>
                </div>
                <div class="about-team">
                    <h4>家装CRM团队（隶属于青岛奇古兄弟网络科技有限公司）是一支崇尚简单，自由、开放的团队，为了共同的目标聚集在这里。</h4>
                    <ul>
                        <li><img src="/Public/qiguweb/images/about-team-1.png" alt=""/></li>
                        <li><img src="/Public/qiguweb/images/about-team-2.png" alt=""/></li>
                        <li><img src="/Public/qiguweb/images/about-team-3.png" alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>