<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>家装CRM客户管理系统,家装crm软件,装修crm,免费crm系统 – 家装CRM，让工作更简单</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<link href="favicon.ico" rel="shortcut icon">
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<div id="wrap-all">
    <div id="main" class="inner">
        <div id="index-wrap">
            <div class="index-banner">
                <div class="index-banner-wrap">
                    <div class="index-banner-inner">
                        <h1>让工作更简单</h1>
                        <p>
                            家装CRM4.0是一款功能强大、使用简单灵活、UI外观时尚的客户管理系统！<br><span class="h5">让你的团队随时随地一起工作！</span>
                        </p>
                        <div class="index-banner-action">
                            <a class="btn btn-success btn-lg" href="{:U('Club/register')}" target="_blank">
                                申请试用
                            </a>　
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-body">
                <h3 class="index-feature-title">
                    <span>提升团队生产力</span>
                </h3>
                <ul class="index-feature">
                    <li>
                        <img src="/Public/qiguweb/images/i1.png" alt="提高效率"/>
                        <br/>
                        <h4>提高效率</h4>
                        灵活的客户检索共享，让团队成员<br>
                        效率迅速提升，工作就是这么简单
                    </li>
                    <li>
                        <img src="/Public/qiguweb/images/i2.png" alt="无缝沟通"/>
                        <br/>
                        <h4>无缝沟通</h4>
                        简单好用的权限管理，无处不在的消息<br>
                        提醒和评论，与团队成员之间无缝沟通
                    </li>
                    <li>
                        <img src="/Public/qiguweb/images/i3.png" alt="资源共享"/>
                        <br/>
                        <h4>资源共享</h4>
                        无共享，不协同，完善的信息共享<br>
                        让你的团队达到真正意义上的协同
                    </li>
                    <li>
                        <img src="/Public/qiguweb/images/i4.png" alt="帮助记录"/>
                        <br/>
                        <h4>帮助记录</h4>
                        强大的云数据在线记录，帮助团队<br>
                        记录，积累沉淀，形成客户资源库
                    </li>
                </ul>
                <div class="index-say">
                    <div class="index-say-inner">
                        <h3 class="index-say-title">他们怎么说</h3>
                        <div class="index-say-carousel ng-scope">
                            <div class="carousel ng-isolate-scope">
                                <div class="item text-center ng-isolate-scope active">
                                      <span class="people ng-binding ng-scope">
                                          <img src="/Public/qiguweb/images/icon-tx-1.jpg" alt="联合创始人"/>
                                          <br>李源
                                          <br>德隆装饰联合创始人
                                      </span>
                                      <p class="ng-binding ng-scope">
                                          <i class="icon icon-quote-left"></i>
										  作为一位公司的管理人员来讲，团队的高效工作是必不可少的。通过使用家装CRM系统，彻底告别传统的
										  <br>工作方式，真正实现销售、设计以及财务等部门的高效沟通！
                                          <i class="icon icon-quote-right"></i>
                                      </p>
                                </div>
                            </div>
                        </div>
                        <h3 class="index-say-team-title">
                            <span>近1000企业，10万用户的共同选择</span>
                        </h3>
                        <ul class="index-say-team-list">
                            <li>
                                <img src="/Public/qiguweb/images/case/delong.png" alt="德隆装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/weilian.png" alt="威廉装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/chengshirenjia.png" alt="城市人家装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/qingzhou.png" alt="轻舟装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/yuanzhou.png" alt="元洲装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/shichuang.png" alt="实创装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/baizhanting.png" alt="拜占庭装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/beilin.png" alt="贝林装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/dongfangjiayuan.png" alt="东方家园装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/dongyirisheng.png" alt="东易日盛装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/lanhai.png" alt="蓝海工长俱乐部"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/jiahe.png" alt="嘉禾装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/huiying.png" alt="惠盈装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/meibao.png" alt="美宝装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/huazhiting.png" alt="华之庭装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/julifang.png" alt="居立方装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/jinxiuyinxiang.png" alt="锦绣印象装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/weicun.png" alt="伟存装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/tianyuan.png" alt="田园装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/woaiwojia.png" alt="我爱我家装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/yezhifeng.png" alt="业之峰装饰"/>
                            </li>
                            <li>
                                <img src="/Public/qiguweb/images/case/mianduimian.png" alt="面对面装饰"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 class="index-other-title">用心做好产品</h3>
                <ul class="index-other-list">
                    <li>
                        <a href="{:U('Index/plan')}">
                            <img src="/Public/qiguweb/images/index-other-plan.png" alt="付费方案"/>
                            <h4>付费方案</h4>
                            免费版、商业版、定制版任您选择
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Index/mobile')}">
                            <img src="/Public/qiguweb/images/index-other-mobile.png" alt="移动版"/>
                            <h4>移动版</h4>
                            iPhone、Android全平台支持
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Index/security')}">
                            <img src="/Public/qiguweb/images/index-other-security.png" alt="数据安全"/>
                            <h4>数据安全</h4>
                            保护数据安全，是我们的立身之本
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Club/clubIndex')}" target="_blank">
                            <img src="/Public/qiguweb/images/index-other-feedback.png" alt="用户社区"/>
                            <h4>您的声音</h4>
                            用心倾听您的声音，做好产品
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>