<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 开始使用 > 登录/注册</div>
        <div class="content">
            <p class="tags">Tags： <a>关于注册</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#1">员工登录入口</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#2">业主登录入口</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#3">申请试用</a></p>
            <p><strong>关于注册：</strong>CRM系统不支持开放注册，如果想试用，可以点击“申请试用”申请公司管理员账号，经过核实审核通过后，便可正常试用，公司其他成员需要管理员 登录管理后台>用户中心>添加员工 进行添加，添加成功后，员工平用户名和密码登录即可。</p>
            <p><strong>员工登录入口：</strong>登录CRM官方网站：<a href="http://www.zxicrm.com" target="_blank">www.zxicrm.com</a>，点击网站右上角的：<span class="red">“员工登录”</span>，凭用户名和密码登录即可（建议登录成功后，把网址加入收藏夹，方便下次登录）。</p>
            <p><strong>业主登录入口：</strong>登录CRM官方网站：<a href="http://www.zxicrm.com" target="_blank">www.zxicrm.com</a>，点击网站右上角的：<span class="red">“业主登录”</span>，凭用户名和密码登录即可（建议登录成功后，把网址加入收藏夹，方便下次登录）。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/clogin-1.jpg" alt="用户登录界面" /></p>
            <p><strong>申请试用：</strong>登录CRM官方网站：<a href="http://www.zxicrm.com" target="_blank">www.zxicrm.com</a>，点击网站右上角的：<span class="red">“申请试用”</span>，按照要求填写信息，提交成功后等待审核，审核通过后即可通过“员工登录”进行登录试用。</p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>