<div class="help-center-banner">
    <i class="icon-question-sign"></i>
    <h3>帮助中心</h3>
    <form action="" method="GET">
        <div class="search-block p_20 m_20">
            <div class="input-group input-group-lg">
                    <input name="q" type="text" class="form-control" wt-autofocus="" placeholder="搜索您的问题或关键词，例如：如何开通客户平台 ...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit"> &nbsp;搜 索&nbsp; </button>
                    </span>
            </div>
        </div>
    </form>
</div>