<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 客户管理 > 添加客户</div>
        <div class="content">
            <p><strong>添加客户：</strong>根据相关提示录入客户信息，其中带有 <span class="red">*</span> 为必填项，选填项建议大家认真填写，方便以后做数据筛选、统计和分析。
            <br><strong>① 客户跟踪状态：</strong>建议客户跟踪状态结束后（跟踪A或B或C或D）尽可能采用多选，方便数据组合筛选，例如：张三现在的实际状态为“已合同”，已合同之前一般会有“已到店”“已定金”，才到“已合同”阶段，如果只选择“已合同”，在筛选“已到店”或“已定金”的客户进行统计时，就会统计变少，如果“已到店”“已签单”“已合同”3个状态同时选中，既符合客观事实，而且数据统计准确无误。
            <br><strong>② “业务员”“设计师”“工程监理”这3个字段至少选其一：</strong>客户只有被分配相关员工后，员工才能看到被分配的客户信息，例如：业务员为：张三，设计师和工程监理为空，只有张三可以看到客户信息，其他不能；如果业务员为：张三，设计师为：李四，工程监理为空，张三和李四都能看到客户信息，其他不能，以此类推。
            <br><strong>③ 标记颜色功能：</strong>可对客户的意向强弱程度、跟进急缓程度等进行标识，方便管理客户信息。自己标记的颜色只有自己能看到，不影响其他人</p>
            <p class="center"><img src="/Public/qiguweb/images/help/addcustomer-1.jpg" alt="添加客户" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>