<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心</div>
        <div class="content">
            <h2>快速入口</h2>
            <p>开始使用CRM</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_overview')}">认识CRM</a></li>
                <li><a href="{:U('Index/help_login')}">登录/注册</a></li>
                <li><a href="{:U('Index/help_dashboard')}">首页界面</a></li>
                <li><a href="{:U('Index/help_permission')}">权限设置</a></li>
                <li><a href="{:U('Index/help_message')}">消息提醒</a></li>
                <li><a href="{:U('Index/help_security')}">数据安全</a></li>
                <li class="last"><a href="{:U('Index/help_version')}">版本更新</a></li>
            </ul>
            <p>客户管理</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_mycustomer')}">我的客户</a></li>
                <li><a href="{:U('Index/help_addcustomer')}">添加客户</a></li>
                <li><a href="{:U('Index/help_recycle')}">回收站</a></li>
                <li class="last"><a href="{:U('Index/help_quicklink')}">快捷管理</a></li>
            </ul>
            <p>工程管理</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_project')}">已开工程客户</a></li>
                <li><a href="{:U('Index/help_platform')}">开通客户平台</a></li>
                <li><a href="{:U('Index/help_process')}">施工进度管理</a></li>
                <li><a href="{:U('Index/help_clogin')}">业主登录入口</a></li>
                <li class="last"><a href="{:U('Index/help_cdashboard')}">业主平台介绍</a></li>
            </ul>
            <p>数据统计</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_order')}">本月已定金客户</a></li>
                <li><a href="{:U('Index/help_hetong')}">本月已合同客户</a></li>
                <li class="last"><a href="{:U('Index/help_allsearch')}">综合查询</a></li>
            </ul>
            <p>用户中心</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_touxiang')}">上传头像</a></li>
                <li><a href="{:U('Index/help_group')}">部门管理</a></li>
                <li><a href="{:U('Index/help_user')}">员工管理</a></li>
                <li><a href="{:U('Index/help_addgroup')}">添加部门</a></li>
                <li class="last"><a href="{:U('Index/help_adduser')}">添加员工</a></li>
            </ul>
            <p>系统配置</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_addstate')}">添加客户状态</a></li>
                <li><a href="{:U('Index/help_addchannel')}">添加客户来源</a></li>
                <li><a href="{:U('Index/help_addway')}">添加装修方式</a></li>
                <li class="last"><a href="{:U('Index/help_addprocess')}">添加施工工序</a></li>
            </ul>
            <p>付费方案</p>
            <ul class="clearfix">
                <li><a href="{:U('Index/help_pay')}">付费方案</a></li>
            </ul>
            <h2>附录</h2>
            <p>家装CRM使用文档.PPT：<a href="http://www.zxicrm.com/zxicrm4.0.pptx">家装CRM4.0.pptx下载</a></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>