<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 客户管理 > 我的客户</div>
        <div class="content">
            <p><strong>我的客户：</strong>在这里你可以对客户的大体情况一目了然，例如：最新回访记录、状态、客户姓名、联系方式、所在小区、面积、咨询时间、到店时间、装修方式、客户来源渠道等信息。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/mycustomer-1.jpg" alt="我的客户列表" /></p>
            <p><strong>响应式布局：</strong>触发即可相应，无视屏幕大小，无论手机，平板，笔记本和台式机，想怎么看就怎么看，左侧可随意折叠，展示栏目可随意显示和隐藏，带给您极致流畅的人性化体验！</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-2.jpg" alt="左导航-响应式布局" /><img src="/Public/qiguweb/images/help/mycustomer-2.jpg" alt="选择列-响应式布局" /></p>
            <p><strong>跟踪记录：</strong>跟踪记录一目了然，拒绝全靠嘴说毫无记录，把客户"打酱油"当成理由来相互推诿，唾沫乱飞，最终无厘头。同时可以对客户信息和跟踪记录进行修改、删除、添加等操作。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/mycustomer-3.jpg" alt="客户跟踪记录" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>