<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 工程管理 > 开通客户平台</div>
        <div class="content">
            <p><strong>Step.1</strong> 认真阅读说明文档后，点击“开通客户平台”按钮。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/platform-1.jpg" alt="开通客户平台" /></p>
            <p><strong>Step.2</strong> 在弹出的的对话框中，输入用户名（以字母开头，6-12个字母、数字）和密码（字母+数字组合、并且以字母开头，6-12字符），点击”确认添加“即可。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/platform-1-1.jpg" alt="输入用户名密码" /></p>
            <p><strong>Step.3</strong> 选择施工工序（默认为全选），也可根据每个客户情况自由选择，勾选正确后，点击“确定选择”即可。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/platform-2.jpg" alt="选择施工工序" /></p>
            <p><strong>Step.4</strong> 开同成功后，可以看到列表页已经有开通的客户的记录。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/project-1.jpg" alt="开通成功" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>