<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 开始使用CRM > 认识CRM</div>
        <div class="content">
            <h4>1、定义</h4>
            <p>CRM即客户关系管理，是指企业用CRM技术来管理与客户之间的关系。
            <br>家装CRM，顾名思义，是针对装修行业开发的一款非常实用的客户管理系统。通过CRM系统，装修公司可以方便管理客户信息，记录和追踪客户情况，实现部门间的无缝沟通、资源共享等，能够帮助企业提供办公效率和团队生产力的软件。</p>
            <h4>2、功能优势</h4>
            <p>家装CRM的开发，旨在提高装修行业的信息化服务水平，提升团队生产力，助力企业高效办公和业绩腾飞。其优势有：
            <br>① 灵活的客户检索共享，让团队成员效率迅速提升。
            <br>② 简单好用的权限管理，无处不在的消息提醒和评论。
            <br>③ 无共享，不协同，完善的信息共享让你的团队达到真正意义上的协同。</p>
            <p class="center"><img src="/Public/qiguweb/images/help/overview-1.jpg" /></p>
            <h4>3、家装CRM可以帮助你</h4>
            <p>① 客户管理更便捷，协同办公更高效。
            <br>通过CRM系统，可实现数据线上共享，销售、设计、财务三大业务模块紧密联系，大大提升工作效率。
            <br>② 有效防止跑单、漏单等跟踪不及时的现象发生。
            <br>避免公司漏单、私单等现象屡禁不止，便于由于高成本引进的客户资源形成良性循环。
            <br>③ 提高员工执行力，建立完善考核机制。
            <br>最新回访记录一目了然，有效督促销售、设计部门对客户进行管理、追踪。随时能知道工作进度，也可随时检查目标的完成情况。</p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>