<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,width=device-width, initial-scale=1.0">
<title>帮助中心 – 家装CRM客户管理系统</title>
<meta name="keywords" content="家装crm, 家装crm软件,家装crm系统,装修crm,免费crm系统" />
<meta name="description" content="家装crm系统，让工作更简单。家装crm系统是一个专门为家装行业量身定制的客户管理系统，通过简单的协作、沟通、共享和记录，以及云技术和跨平台，轻松实现团队的交互与客户管理工作，从而极大地提高工作效率。" />
<include file="Index:css" />
</head>
<body>
<!-- 头部 -->
<include file="Index:header" />
<!-- /头部 -->
<!-- 主体 -->
<!-- 顶部导航 -->
<include file="Index:help_topnav" />
<!-- /顶部导航 -->
<div class="help-center-warpper clearfix">
<!-- 左侧导航 -->
<include file="Index:help_leftnav" />
<!-- /左侧导航 -->
    <div class="right">
        <div class="nav">帮助中心 > 开始使用CRM > 首页界面</div>
        <div class="content">
            <p>首页界面主要包括左侧导航栏、本月公司业绩统计、签单排行榜、来源渠道统计以及个人资料设置等内容。整体色彩对比明显，视觉清晰不会疲劳，采用大色块设计，布局更为直观，如图：</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-1.jpg" alt="CRM用户主界面" /></p>
            <p>① 左导航栏：基本信息、客户管理、工程管理、数据统计、用户中心、系统设置、版本信息</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-2.jpg" alt="左侧导航" /></p>
            <p>② 公司总业绩统计：本月到店客户、本月签单人数、本月合同、本月签单率</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-3.jpg" alt="公司总业绩统计" /></p>
            <p>③ 业绩排行榜：业务员业绩排行榜、设计师业绩排行榜</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-4.jpg" alt="业绩排行榜" /></p>
            <p>④ 其他：公司公告、客户来源渠道统计、公司全年业绩走势图</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-5.jpg" alt="公司公告" /></p>
            <p>⑤ 人性化设计：消息提示、头像、用户社区、意见反馈、退出登录、更换皮肤等</p>
            <p class="center"><img src="/Public/qiguweb/images/help/dashboard-6.jpg" alt="人性化设计" /></p>
        </div>
    </div>
</div>
<!-- /主体 -->
<!-- 底部 -->
<include file="Index:footer" />
<!-- /底部 -->
</body>
</html>