<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8"/>
	<title>售后服务列表 | CRM客户管理系统</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="" name="description"/>
	<meta content="gaorenhua" name="author"/>
	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="__PUBLIC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
		  type="text/css"/>
	<link href="__PUBLIC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
		  type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/select2/select2.css"/>
	<link rel="stylesheet" type="text/css"
		  href="__PUBLIC__/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"/>
	<link rel="stylesheet" type="text/css"
		  href="__PUBLIC__/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/bootstrap-toastr/toastr.min.css">
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- BEGIN THEME STYLES -->
	<include file="Common:css"/>
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<style>
	/*.portlet.box.blue {*/
		/*border: none;*/
	/*}*/

	/*.portlet.box.blue > .portlet-title {*/
		/*background-color: white;*/
		/*border-bottom: 1px solid #333;*/
	/*}*/

	/*.portlet.box.blue > .portlet-title > .caption {*/
		/*color: #333;*/
	/*}*/

	/*.portlet.box.blue > .portlet-title > .caption > i {*/
		/*color: #333*/
	/*}*/
</style>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- 包含公共头部和公共侧边栏 -->
<include file="Common:header"/>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<div class="page-content">
		<!-- BEGIN PAGE CONTENT-->
		<div class="row">
			<div class="col-md-12">
				<div class="portlet grey-cascade box">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>售后服务列表
						</div>
						<div class="actions">
							<!--<a href="#" class="btn btn-default btn-sm">-->
								<!--<i class="fa fa-pencil"></i> Edit </a>-->
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-responsive">
							<table class="table table-hover table-bordered table-striped">
								<thead>
								<tr>
									<th>
										序号
									</th>
									<th>
										客户姓名
									</th>
									<th>
										联系方式
									</th>
									<th>
										地址
									</th>
									<th>
										维修材料
									</th>
									<th>
										维修人
									</th>
									<th>
										维修日期
									</th>
									<th>
										维修内容
									</th>
									<th>
										备注
									</th>
                                    <th>
										操作
									</th>
								</tr>
								</thead>
								<tbody>
									<include file="ajaxAfterSaleList" />
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end page content-->
	</div>
</div>
<!-- end content -->
</div>
<!-- end container -->
<include file="Common:footer"/>
<!-- begin javascripts(load javascripts at bottom, this will reduce page load time) -->
<!-- begin core plugins -->
<!--[if lt ie 9]>
<script src="__PUBLIC__/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- important! load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
		type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- end core plugins -->
<!-- begin page level plugins -->
<script type="text/javascript" src="__PUBLIC__/global/plugins/jquery-validation/js/jquery.validate.min.js"></scrit>
<script type="text/javascript" src="__PUBLIC__/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-markdown/lib/markdown.js"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-toastr/toastr.min.js"></script>
<!-- end page level plugins -->
<!-- begin page level styles -->
<script src="__PUBLIC__/admin/pages/scripts/ui-toastr.js"></script>
<script src="__PUBLIC__/global/scripts/metronic.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/pages/scripts/form-validation.js"></script>
<!-- end page level styles -->
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        FormValidation.init();
        $('#alert_type').change(function () {
            var type_id = $(this).find("option:selected").val()
			console.log(type_id)
            var ajax_url = "{:U('Material/materialList')}"
			$.post(ajax_url, {type_id:type_id}, function (res) {
			    $('#mlist-body').html(res)
            })
        })
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>