<volist name="list" id="vo" key="k">
    <tr>
        <td>
            {$k}
        </td>
        <td>
            {$vo.customer_name}
        </td>
        <td>
            {$vo.mobile}
        </td>
        <td>
            {$vo.address_info}
        </td>
        <td>
            {$vo.material_id|getMaterialName}
        </td>
        <td>
            {$vo.user_id|realname}
        </td>
        <td>
            {$vo.service_date|date='Y-m-d H:i:s', ###}
        </td>
        <td>
            {$vo.service_content}
        </td>
        <td><a href="javascript:;" class="alertComplete" data-state="{$vo.complete_state}" data-id="{$vo.after_id}">{$vo.complete}</a></td>
        <td><a href="javascript:;" class="alertSatisfied" data-state="{$vo.satisfied_state}" data-id="{$vo.after_id}">{$vo.satisfied}</a></td>
        <td>
            {$vo.remark}
        </td>
        <td>

        </td>
    </tr>
</volist>
