<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>邀请注册 | CRM客户管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="gaorenhua" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="__PUBLIC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="__PUBLIC__/global/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="__PUBLIC__/global/css/components.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/global/css/plugins.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
<link href="__PUBLIC__/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
	<img src="__PUBLIC__/admin/layout3/img/logo-big.png" alt=""/>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN REGISTRATION FORM -->
	<form class="register1-form" action="{:U('Login/inviteRegister')}" method="post">
		<h3>注册新用户</h3>
		<p>
			请认真填写您的个人信息:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">真实姓名</label>
			<div class="input-icon">
				<i class="fa fa-font"></i>
				<input type="hidden" name="code" value="{$code}" />
				<input class="form-control placeholder-no-fix" type="text" placeholder="真实姓名" name="realname"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">联系方式</label>
			<div class="input-icon">
				<i class="fa fa-tablet"></i>
				<input class="form-control placeholder-no-fix" id="tel" type="text" placeholder="联系方式" name="tel"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">邮箱</label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="text" value="{$email}" readonly="readonly"  name="email"/>
			</div>
		</div>
		<p>
			请填写您的账户信息:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">用户名</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" id="username" type="text" autocomplete="off" placeholder="用户名" name="username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">密　码</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="密码" name="password"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">再次输入密码</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="再次输入密码" name="rpassword"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">验证码</label>
			<div class="col-xs-6 col-sm-6" style="padding:0px;">
				<div class="input-icon">
					<i class="fa fa-barcode"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="验证码" name="verify"/>
				</div>
			</div>
			<div class="col-xs-5 col-sm-5" style="padding:0px 5px 0px 6px;">
				<img class="verify" src="{:U('verify')}" />
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="form-group">
			<label>
			<input type="checkbox" name="tnc"/> 我同意 <a href="javascript:;">
			团队服务协议 </a>
			和 <a href="javascript:;">
			数据安全条款 </a>
			</label>
			<div id="register_tnc_error">
			</div>
		</div>
		<div class="form-actions">
			<a class="btn default" href="{:U('Login/login')}">
			<i class="m-icon-swapleft"></i> 返回登录 </a>
			<button type="submit" id="register-submit-btn" class="btn blue pull-right">
			确认注册 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END REGISTRATION FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 2014 &copy; 奇古兄弟网络 - 客户关系管理系统（CRM）.
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript">
	var checkTel = "{:U('checkTel')}";
	var checkEmail = "{:U('checkEmail')}";
	var checkUsername = "{:U('checkUsername')}";
</script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/global/scripts/metronic.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout3/scripts/layout.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout3/scripts/demo.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
jQuery(document).ready(function() {     
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Demo.init(); // init demo features
	Login.init();
    // init background slide images
    $.backstretch([
	    "__PUBLIC__/admin/pages/media/bg/1.jpg",
	    "__PUBLIC__/admin/pages/media/bg/2.jpg",
	    "__PUBLIC__/admin/pages/media/bg/3.jpg",
	    "__PUBLIC__/admin/pages/media/bg/4.jpg",
	    "__PUBLIC__/admin/pages/media/bg/5.jpg",
	    "__PUBLIC__/admin/pages/media/bg/6.jpg",
	    "__PUBLIC__/admin/pages/media/bg/7.jpg",
	    "__PUBLIC__/admin/pages/media/bg/8.jpg",
	    "__PUBLIC__/admin/pages/media/bg/9.jpg",
    ], {
	    fade: 1000,
	    duration: 8000
	});
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>