<style type="text/css">
.pannel_info{width:500px; margin:200px auto; padding:15px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border: 1px solid #ABC0DB; background: #E4ECF5; font-family:"Microsoft Yahei"; font-size:14px;}
.info_sepline{margin:14px 0 10px; border-width:1px 0px 1px 0px; border-bottom:1px solid #ABC0DB;}
.ico_sendf{display:inline-block; width:40px; height:40px; background:url(/Public/images/ico_sendf104474.gif) no-repeat;}
.info_title{margin-bottom:8px;color:#7B8EAE; font-size:12px;}
a{text-decoration:none; font-size:12px; color:#333; padding:3px 15px;}
a:hover{text-decoration: underline;}
#addressname_0{margin-left: 40px;}
</style>
<div class="pannel_info">
    <span class="ico_sendf" style="float:left;margin:1px 15px 0px 0px;"></span>
    您好，感谢您申请试用我们的产品，您的账户 <span style="color:#4a8f00;font-weight:bold;">已注册成功并等待审核</span>，我们会在24小时内安排工作人员联系您核对相关信息，敬请稍后！
    <div class="info_sepline"></div>
    <div class="info_item addrtitle">
        <div class="info_title">接下来您可以进行以下操作：</div>
        <span id="addressname_0">
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=75375728befe21155e3f3bd04fb5f771f94b8a9d078c82cd5776dcd2ca11bf49">加入QQ群</a>|
            <a href="/index.php">返回网站首页</a>|      
            <a href="/index.php/Index/help.html">详读帮助手册</a>　^_^
        </span>       
    </div>
    <div class="info_sepline"></div>
    <!-- 此处 占楼 广告位 -->
</div>