<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>材料图表 | CRM客户管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="gaorenhua" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="__PUBLIC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css"
          href="__PUBLIC__/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"/>
    <link rel="stylesheet" type="text/css"
          href="__PUBLIC__/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <include file="Common:css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- 包含公共头部和公共侧边栏 -->
<include file="Common:header"/>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- START VALIDATION STATES-->
                <volist name="typeList" id="vo">
                <div class="col-md-6">
                    <div class="portlet light bordered type-chart" data-val="{$vo.type_id}">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-green-haze"></i>
                                <span class="caption-subject bold uppercase font-green-haze"> 材料统计 - {$vo.type_name}</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title=""
                                   title="">
                                </a>
                                <a href="javascript:;" class="reload" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="remove" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body" style="display: block;">
                            <div id="chart_{$vo.type_id}" class="chart" style="height: 525px; overflow: hidden; text-align: left;">

                            </div>
                        </div>
                    </div>
                </div>
                </volist>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<include file="Common:footer"/>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="__PUBLIC__/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<script src="__PUBLIC__/global/scripts/metronic.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/global/plugins/select2/select2.min.js"></script>
<script src="__PUBLIC__/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/pages/scripts/form-validation.js"></script>
<script src="__PUBLIC__/admin/pages/scripts/charts-amcharts-new.js"></script>
<!-- END PAGE LEVEL STYLES -->
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        FormValidation.init();
        var url = "{:U('Material/materialChart')}";

        $.post(url, {type_id: 1}, function (res) {
            var chart_data = res
            ChartsAmcharts.init(chart_data);
        })
        $('.type-chart').each(function () {
            var type_id = $(this).attr('data-val')
            var char_id = 'chart_' + type_id
            $.post(url, {type_id: type_id}, function (res) {
                var chart_data = res
                if(res.length > 1) {
                    ChartsAmcharts.init(chart_data, char_id);
                }
            })
        })
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>