<volist name="list" id="vo" key="k" empty="管理员很懒,还未添加任何装修方式">
<tr>
    <td>{$k} </td>
    <td>{$vo.customer_info.CName}</td>
    <td>{$vo.customer_info.Tel}</td>
    <td>{$vo.customer_info.Address}</td>
    <td>{$vo.customer_info.Project|realname}</td>
    <td>{$vo.project_name}</td>
    <td>{$vo.start_time|date="Y-m-d", ###} ~ {$vo.end_time|date="Y-m-d", ###}</td>
    <td><a href="javascript:;" class="alertState" data-state="{$vo.chaoqi_state}" data-id="{$vo.customer_info.id}">{$vo.state}</a></td>
    <td>{$vo.create_time|date="Y-m-d", ###}</td>
    <td>[<a href="{:U('NewProject/getProContent', array('customer_id' => $vo['customer_info']['id']))}" >查看详细</a>]
    </td>
</tr>
</volist>