<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>青岛奇古兄弟网络科技</title>
<link href="__PUBLIC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<style type="text/css">
body{font-family: "Microsoft YaHei"; font-size: 16px;}
p{margin:10px; padding: 10px;}
</style>

<body>
<p class="bg-primary">今日未回访客户<span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-primary">最近7天未回访客户 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-primary">过期未回访客户 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-success">本月到店客户 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-info">本月合同客户 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-info">本月合同总额 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>
<p class="bg-warning">本月签单客户 <span class="glyphicon glyphicon-menu-right" aria-hidden="true">></span></p>

<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
