<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8"/>
		<title>我的客户 | CRM客户管理系统</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta name="format-detection" content="telephone=no"/>
		<meta content="" name="description"/>
		<meta content="gaorenhua" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="__PUBLIC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
		<!-- END PAGE LEVEL STYLES -->
		<!-- BEGIN THEME STYLES -->
		<include file="Common:css" />
		<!-- END THEME STYLES -->
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<!-- END HEAD -->
	<!-- BEGIN BODY -->
	<body class="page-header-fixed page-quick-sidebar-over-content ">
		<!-- 包含公共头部和公共侧边栏 -->
		<include file="Common:header" />
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>我的客户列表
								</div>
								<div class="actions">
									<div class="btn-group">
										<a class="btn default" href="#" data-toggle="dropdown">选择列 <i class="fa fa-angle-down"></i></a>
										<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
											<label>
												<input id='c1' name="tijiao[]" type="checkbox" {:xianshi(1,work_project_field)} data-column="0" value="1">
												最新回访记录</label>
											<label>
												<input id='c2' name="tijiao[]" type="checkbox" {:xianshi(2,work_project_field)} data-column="1" value="2">
												状态</label>
											<label>
												<input id='c3' name="tijiao[]" type="checkbox" {:xianshi(3,work_project_field)} data-column="2" value="3">
												项目名称</label>
											<label>
												<input id='c4' name="tijiao[]" type="checkbox" {:xianshi(4,work_project_field)} data-column="3" value="4">
												客户联系人</label>
											<label>
												<input id='c5' name="tijiao[]" type="checkbox" {:xianshi(5,work_project_field)} data-column="4" value="5">
												职务</label>
											<label>
												<input id='c6' name="tijiao[]" type="checkbox" {:xianshi(6,work_project_field)} data-column="5" value="6">
												联系电话</label>
											<label>
												<input id='c7' name="tijiao[]" type="checkbox" {:xianshi(7,work_project_field)} data-column="6" value="7">
												项目面积</label>
											<label>
												<input id='c8' name="tijiao[]" type="checkbox" {:xianshi(8,work_project_field)} data-column="7" value="8">
												项目类型</label>
											<label>
												<input id='c9' name="tijiao[]" type="checkbox" {:xianshi(9,work_project_field)} data-column="8" value="9">
												第三方业务</label>
											<label>
												<input id='c10' name="tijiao[]" type="checkbox" {:xianshi(10,work_project_field)} data-column="9" value="10">
												项目地址</label>
											<label>
												<input id='c11' name="tijiao[]" type="checkbox" {:xianshi(11,work_project_field)} data-column="10" value="11">
												来源渠道</label>
											<label>
												<input id='c12' name="tijiao[]" type="checkbox" {:xianshi(12,work_project_field)} data-column="11" value="12">
												项目总价</label>
											<label>
												<input id='c13' name="tijiao[]" type="checkbox" {:xianshi(13,work_project_field)} data-column="12" value="13">
												咨询时间</label>
											<label>
												<input id='c14' name="tijiao[]" type="checkbox" {:xianshi(14,work_project_field)} data-column="13" value="14">
												备注</label>
											<label>
												<input id='c15' name="tijiao[]" type="checkbox" {:xianshi(15,work_project_field)} data-column="14" value="15">
												跟单负责人</label>
											<label>
												<input id='c16' name="tijiao[]" type="checkbox" {:xianshi(16,work_project_field)} data-column="15" value="16">
												跟单设计师</label>
											<label>
												<input id='c17' name="tijiao[]" type="checkbox" {:xianshi(17,work_project_field)} data-column="16" value="17">
												项目经理</label>
										</div>
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<!-- 搜索客户 -->
								<form class="form-inline" method="get" action="{:U('WorkProject/search')}" >
									<div class="col-md-11" style="padding:0px;">
										<div class="control-group search" style="padding:0px;margin-bottom:5px;">
											<input class="form-control input-sm" type="text" name="Company" placeholder="项目名称" />
											<input class="form-control input-sm" type="text" name="Contact" placeholder="客户联系人" />
											<input class="form-control input-sm" type="text" name="Tel" placeholder="联系电话" />
											<select name="Userid" class="form-control input-sm">
												<option value=''>业务员</option>
												<foreach name='users' item='u'>
													<neq name="u.id" value="0">
														<option value='{$u.id}'>{$u.realname}</option>
													</neq>
												</foreach>
											</select>
											<select name="Designer" class="form-control input-sm">
												<option value=''>设计师</option>
												<foreach name='designer' item='de'>
													<option value='{$de.id}'>{$de.realname}</option>
												</foreach>
											</select>
											<select name="Project" class="form-control input-sm">
												<option value=''>项目经理</option>
												<foreach name='project' item='p'>
													<option value='{$p.id}'>{$p.realname}</option>
												</foreach>
											</select>
											<input class="form-control input-sm" type="text" name="hetongbianhao" placeholder="合同编号" />
										</div>
									</div>
									<div class="col-md-1">
										<button type="submit" class="btn btn-sm blue">
											搜索
										</button>
									</div>
								</form>
								<!--客户记录列表开始---->
								<table class="table table-bordered table-full-width table-striped">
									<thead>
										<tr>
											<th class="c1">最新回访记录</th>
											<th class="c2">状态</th>
											<th class="c3">项目名称</th>
											<th class="c4">客户联系人</th>
											<th class="c5">职务</th>
											<th class="c6">联系电话</th>
											<th class="c7">面积(㎡)</th>
											<th class="c8">项目类型</th>
											<th class="c9">第三方业务</th>
											<th class="c10">项目地址</th>
											<th class="c11">来源渠道</th>
											<th class="c12">项目总价</th>
											<th class="c13" >咨询时间</th>
											<th class="c14">备注</th>
											<th class="c15">跟单负责人</th>
											<th class="c16">跟单设计师</th>
											<th class="c17">项目经理</th>
											<th class="c18">合同编号</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<volist name="customer" id="v" empty="$empty">
											<tr>
												<td class="c1" style="background:{$v.markcolor|markcolor}">
												<if condition="workRecord($v[id])==''">
													<a href="{:U('Work/visitRecord', array('id' => $v[id]))}">暂无追踪记录</a>
													<else/>
													<a class="popovers" data-container="body" data-trigger="hover" data-placement="right" data-content="{:workRecord($v[id])}" data-original-title="Popover in right" href="{:U('Work/visitRecord', array('id' => $v[id]))}" title="追踪记录预览">{:msubstr(workRecord($v[id]),0,34)}...</a>
												</if></td>
												<td class="c2" style="background:{$v.markcolor|markcolor}">{$v.State}</td>
												<td class="c3 cup" data-name="Company" data="{$v.id}" style="background:{$v.markcolor|markcolor}">{$v.Company}<a href="{:U('Work/visitRecord', array('id' => $v[id]))}">&nbsp;&nbsp;<i class="icon-pencil"></i></a></td>
												<td class="c4 cup" data-name="Contact" data="{$v.id}" style="background:{$v.markcolor|markcolor}">{$v.Contact}</td>
												<td class="c5 cup" data-name="Position" data="{$v.id}" style="background:{$v.markcolor|markcolor}">{$v.Position}</td>
												<td class="c6 cup" data-name="Tel" data="{$v.id}" style="background:{$v.markcolor|markcolor}"><a  href="tel:{$v.Tel}">{$v.Tel}</a></td>
												<td class="c7 cup" data-name="Space" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Space">
													--
													<else/>
													{$v.Space}
												</empty></td>
												<td class="c8 cup" data-name="Type" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Type">
													--
													<else/>
													{$v.Type}
												</empty></td>
												<td class="c9 cup" data-name="ThirdBiz" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.ThirdBiz">
													--
													<else/>
													{$v.ThirdBiz}
												</empty></td>
												<td class="c10 cup" data-name="Address" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Address">
													--
													<else/>
													{$v.Address}
												</empty></td>
												<td class="c11 cup" data-name="Channel" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.channelname">
													--
													<else/>
													{$v.channelname}
												</empty></td>
												<td class="c12 cup" data-name="Amount" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Amount">
													--
													<else/>
													{$v.Amount}
												</empty></td>
												<td class="c13 cup" data-name="ConsultDate" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.ConsultDate">
													--
													<else/>
													{$v.ConsultDate}
												</empty></td>
												<td class="c14 cup" data-name="Remark" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Remark">
													--
													<else/>
													{$v.Remark}
												</empty></td>
												<td class="c15 cup" data-name="Userid" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Userid">
													--
													<else/>
													{$v.realname}
												</empty></td>
												<td class="c16 cup" data-name="Designer" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Designer">
													--
													<else/>
													{$v.Designer|realname}
												</empty></td>
												<td class="c17 cup" data-name="Project" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.Project">
													--
													<else/>
													{$v.Project|realname}
												</empty></td>
												<td class="c18 cup" data-name="hetongbianhao" data="{$v.id}" style="background:{$v.markcolor|markcolor}">
												<empty name="v.hetongbianhao">
													--
													<else/>
													{$v.hetongbianhao}
												</empty></td>
												<td>
												<eq name="v.id|wisopen" value="0">
													[<a style='font-size:12px;' href="{:U('selectPlatform', array('id' => $v['id']))}">选择工序</a>]
													[<a style='font-size:12px;' href="{:U('addPlatform', array('id' => $v['id']))}">查看进度</a>]
													[<a style='font-size:12px; color:red;' href="{:U('closePlatform', array('id' => $v['id']))}">关闭平台</a>]
												</eq>
												<eq name="v.id|wisopen" value="1">
													[<a style='font-size:12px; color:green;' href="{:U('openPlatform', array('id' => $v['id']))}">启用平台</a>]
												</eq>
												<eq name="v.id|wisopen" value="2">
													[<a style='font-size:12px;' href="{:U('addPlatform', array('id' => $v['id'],'opmode'=>'add'))}">开通平台</a>]
												</eq></td>

											</tr>
										</volist>
									</tbody>
								</table>
								<!--客户记录列表结束-->
								<div class="portlet box blue page">
									&nbsp;共{$page}
								</div>
							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
		<include file="Common:footer" />
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/global/plugins/respond.min.js"></script>
		<script src="__PUBLIC__/global/plugins/excanvas.min.js"></script>
		<![endif]-->
		<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="__PUBLIC__/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script src="__PUBLIC__/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/select2/select2.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<script type="text/javascript">
			var displayFields_url = "{:U('Work/projectFields')}";
		</script>
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="__PUBLIC__/global/scripts/metronic.js" type="text/javascript"></script>
		<script src="__PUBLIC__/admin/layout/scripts/layout.js" type="text/javascript"></script>
		<script src="__PUBLIC__/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
		<script src="__PUBLIC__/admin/layout/scripts/demo.js" type="text/javascript"></script>
		<script src="__PUBLIC__/javascript/table-defined.js" type="text/javascript"></script>
		<script src="__PUBLIC__/admin/pages/scripts/form-validation.js"></script>
		<script>
			jQuery(document).ready(function() {
				Metronic.init();
				// init metronic core components
				Layout.init();
				// init current layout
				QuickSidebar.init();
				// init quick sidebar
				Demo.init();
				// init demo features
				FormValidation.init();
			});
		</script>
	</body>
	<!-- END BODY -->
</html>